---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post med-box">
      <div class="sub-box">
   		<div class="post-header mb2">
			<a href="{{ page.url | prepend: site.baseurl }}" class="post-link"><h3 class="h2 post-title">{{ post.title }}</h3></a>
		     <p class="post-meta">
        	  نوشته‌شده توسط پویا، در تاریخ {{ post.date | date: "%b %-d, %Y" }}
        	</p>
		</div>

		<article class="post-content">
			{{ post.content }}
		</article>

      </div>
    </div>
    {% endfor %}
  </div>

  {% include pagination.html %}


  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
